<div class="container">
    <div class="row">
        <div class="col">
            <h1 appChangeEl> hello world </h1>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col">
            <form class="m-5" [formGroup]="testForm" (ngSubmit)="loginUser()">

                <input class="form-control" type="text" name="username" formControlName="username">
                <br><br>
                <input class="form-control" type="password" name="password" formControlName="password" >
                <br><br>
                <button class="btn btn-warning">Submit</button>

            </form>
        </div>
    </div>
</div>